@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', sans-serif;
  --font-mono: var(--font-geist-mono);
}


:root {
  --background: black ;
  --foreground: #ffffff;
 
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}


/* Remove the ::after content */
.swiper-button-next:after, 
.swiper-button-prev:after {
  content: none !important;
}

/* Instead, use your own icons directly in the element */
.swiper-button-next,
.swiper-button-prev {
  /* Your styling for the buttons */
  display: flex;
  align-items: center;
  justify-content: center;
}